*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* ======================================== */

#map {
  width: 90%;
  height: 20rem;
  border: 0.1rem solid #ccc;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
}

form {
  text-align: center;
  margin: 2rem auto;
}

input {
  border: 0.1rem solid #ccc;
  border-radius: 0.6rem;
  padding: 1rem;
  outline: transparent;
}

input:focus {
  border-color: forestgreen;
}

button {
  background-color: forestgreen;
  color: white;
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: mediumseagreen;
}
