/* @font-face 应该在任何其他样式之前定义 */
@font-face {
  font-family: "JetBrains Mono Web";
  src: url("../assets/font/JetBrainsMono-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
定义 root 字体为 10px，以便后续 rem 计算，
浏览器默认 16 px，使用百分比可优化用户体验（如调整浏览器默认字体大小），10 / 16 = 0.625
*/
html {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono Web", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 37, 0.8)
  ), url("../assets/img/space-RGB-01.png");
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /*
  animation-iteration-count: 3;
  animation-delay: 3s;
  */
}

.heading-primary-subtitle {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.4rem;

  /*
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  */
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
