body {
  padding: 50px;
}

.button {
  font-size: 20px;
  color: white;
  background-color: blue;
}

a {
  background-color: purple;
}

#nav div.pull-right a.button {
  background-color: orangered;
}

#nav a.button:hover {
  background-color: yellow;
}

/*
单位：
% 字体：相对于父级元素的字体大小
% 长度：相对于父级元素的宽度
em 字体：相对于父级元素的字体大小
em 长度：相对于当前元素的字体大小
rem：相对于 HTML 根元素的字体大小（默认为 16px）
vh：相对于视窗的高度
vw：相对于视窗的宽度
*/
