/* @font-face 应该在任何其他样式之前定义 */
@font-face {
  font-family: 'JetBrains Mono Web';
  src: url("../assets/font/JetBrainsMono-Regular.woff2") format('woff2');
}

body {
  font-family: 'JetBrains Mono Web', sans-serif;
}
